<template name='notFound'>
    <div class='nav-bg-bar'></div>{{switchSwatch}}
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-2 col-md-3 col-sm-3'  id='sideBar'>
                {{>sideMenu}}
            </div>
            <div class='col-lg-10 col-md-9 col-lg-offset-2 col-md-offset-3'>
                <div class='content-pad'>
                    <div class='row text-center'>
                        <div class='jumbotron text-center' style='background: #76abd5; color:#fff;'>
                            <h1 class='syc-title'>Yikes!</h1>
                            <h2 class='syc-title'>We can't seem to find that page.</h2>
                            <p class='lead'>Are you sure the link is correct?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
